html {
  font-size: 16px;
}

body {
  padding: 1em;
  font-family: "Georgia Pro", Georgia, serif;
  line-height: 1.5;
}

h1, h2 {
  text-align: center;
  font-family: Verdana, sans-serif;
  small {
    display: block;
    padding-top: .5em;
  }
}